<html lang="ja">
    <head>
        <!--vuejs-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

        <!--v-calendar-->
        <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'>
        <script src='https://unpkg.com/v-calendar'></script>

        <!--vue-js-modal-->
        <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/index.min.js"></script>

        <!--tailwind and other style,fonts...-->
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    </head>
<body>
    <div class="box-border md:box-content">
        <p class="text-purple-600">Hello World</p>
    </div>
</body>
<style></style>
</html>