{% extends "base/base.html" %}

{% block content %}
    <table class="table-fixed">
        <thead>
        <tr>
            <th class="w-1/4 ...">Created</th>
            <th class="w-1/4 ...">Name</th>
            <th class="w-1/4 ...">Columns</th>
            <th class="w-1/2 ..."></th>
            <th class="w-1/2 ..."></th>
        </tr>
        </thead>
        <tbody>
        {% for data in datas %}
            <tr>
                <td>{{ data.created_at }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.columns }}</td>
                <td>
                    <p>{{ data.discription|linebreaksbr }}</p>
                </td>
                <td>
                    <button class="flex items-center shadow bg-blue-500 px-4 py-2 text-white hover:bg-blue-400">
                        <span class="material-icons-outlined">
                            delete
                        </span>
                    </button>
                </td>
                <td>
                    <button class="flex items-center shadow bg-blue-500 px-4 py-2 text-white hover:bg-blue-400">
                        <span class="material-icons-outlined">
                            delete
                        </span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}